<settings-screen>
  <email-settings-warning function="'invite emails'"></email-settings-warning>

  <div ng-show="selectedTab == 'profile'">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 profile__container">

        <img ng-src="{{user.profile_image_url}}" class="profile__image"/>

        <h3 class="profile__h3">{{user.name}}</h3>

        <hr>

        <form class="form" name="userSettingsForm" ng-submit="updateUser(userSettingsForm)" novalidate>
          <div class="form-group" ng-class="{ 'has-error':  (userSettingsForm.name | showError )}">
            <label class="control-label" for="name" >用户名</label>
            <input name="name" id="name" type="text" class="form-control" ng-model="user.name" required/>
            <error-messages input="userSettingsForm.name" form="userSettingsForm"></error-messages>
          </div>
          <div class="form-group" ng-class="{ 'has-error':  (userSettingsForm.email | showError )}">
            <label class="control-label" for="email" >邮箱</label>
            <input name="email" id="email" type="email" class="form-control" ng-model="user.email" required/>
            <error-messages input="userSettingsForm.email" form="userSettingsForm"></error-messages>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">保存</button>
          </div>
        </form>

        <hr>

        <div class="form-group">
          <label class="control-label">API Key</label>
          <input type="text" class="form-control" value="{{user.api_key}}" size="44" readonly/>
        </div>

        <hr>

        <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">设置密码 <span class="caret"></span></button>

        <div uib-collapse="isCollapsed">
          <div class="well">
            <form class="form" name="userPasswordForm" ng-submit="savePassword(userPasswordForm)" novalidate>
              <div class="form-group required" ng-class="{ 'has-error':  (userPasswordForm.currentPassword | showError:userPasswordForm )}">
                <label class="control-label">当前密码</label>
                <input name="currentPassword" class="form-control" type="password" ng-model="password.current" required/>
                <error-messages input="userPasswordForm.currentPassword" form="userPasswordForm"></error-messages>
              </div>
              <div class="form-group required" ng-class="{ 'has-error':  (userPasswordForm.newPassword | showError:userPasswordForm )}">
                <label class="control-label">新密码</label>
                <input name="newPassword" class="form-control" type="password" ng-model="password.new" ng-minlength="6"
                       required/>
                <error-messages input="userPasswordForm.newPassword" form="userPasswordForm"></error-messages>
              </div>
              <div class="form-group required" ng-class="{ 'has-error':  (userPasswordForm.passwordRepeat | showError:userPasswordForm )}">
                <label class="control-label">重复新密码</label>
                <input name="passwordRepeat" class="form-control" type="password" ng-model="password.newRepeat"
                       compare-to="password.new"/>
                <span class="help-block error"
                      ng-if="userPasswordForm.passwordRepeat.$error.compareTo">两次密码不一致。</span>
              </div>
              <div class="form-group">
                <button class="btn btn-primary">保存</button>
              </div>
            </form>
          </div>
        </div>


        <div ng-if="currentUser.isAdmin">
          <br>
          <div class="form-group">
            <button class="btn btn-default" ng-click="sendPasswordReset()" ng-disabled="disablePasswordResetButton">
              发送邮件重设密码
            </button>
          </div>

          <div ng-if="passwordResetLink" class="alert alert-success">
            <p ng-if="!clientConfig.mailSettingMissing">
              <strong>用户应该很快收到一个链接, 通过电子邮件重置密码。</strong>
            </p>
            <p ng-if="clientConfig.mailSettingsMissing">
              您没有配置邮件服务器, 请发送以下链接{{user.name}}重置其密码:<br/>
              <textarea class="form-control m-t-10" rows="2" readonly>{{ passwordResetLink }}</textarea>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</settings-screen>
